<div class="page-top clearfix" maxHeight="50" (scrollChange)="scrolledChanged($event)" [ngClass]="{scrolled: isScrolled}">
    <a routerLink="/pages/dashboard" class="al-logo clearfix"><span><i *ngIf="icon" class="{{icon}}"></i> {{ title }}</span></a>
    <a href (click)="toggleMenu()" class="collapse-menu-link ion-navicon"></a>

    <div class="search">
        <i class="fa fa-search" ng-click="startSearch()"></i>
        <input id="searchInput" type="text" placeholder="Search for...">
    </div>

    <div class="logout">
        <span class="pull-right btn btn-sm btn-logout" (click)="logout()"><i class="fa fa-power-off"></i>
            <span class="hidden-sm-down">Logout</span>
        </span>
    </div>
</div>
