<div [formGroup]="form" [class]="field.class ? field.class : 'col-sm-12'">
    <div class="form-group" [class]="isValid ? 'has-success' : 'has-error'">

        <!-- Label -->
        <label for="{{field.key}}">
            {{field.label}}
            <span *ngIf="field.validators.required">*</span>
        </label>

        <!-- Input -->
        <app-tinymce
                *ngIf="field.options.tinyMce == true"
                id="{{field.key}}"
                formControlName="{{field.key}}"
        ></app-tinymce>

        <textarea
                *ngIf="!field.options.tinyMce"
                formControlName="{{field.key}}"
                id="{{field.key}}"
                rows="{{field.options.rows}}"
                cols="{{field.options.cols}}"
                class="form-control"
                placeholder="{{field.placeholder}}">
            {{field.value}}
        </textarea>



        <!-- Others -->
        <span *ngIf="field.description" class="help-block sub-little-text">{{field.description}}</span>
    </div>
</div>