@import '../../../theme/sass/conf/conf';
$height: 45px;
$heightS: 35px;

.back-to-top {
  position: fixed;
  width: $height;
  height: $height;
  cursor: pointer;
  z-index: 9999;
  display: none;
  text-decoration: none;
  right: 20px;
  bottom: 20px !important;
  font-size: 36px;
  text-align: center;
  opacity: 0.5;
  color: $primary;
  background-color: $sidebar;
  border-radius: 50%;
  line-height: 40px;
  &:hover {
    opacity: 0.95;
  }
}

@media screen and (max-width: $resS) {
  .back-to-top {
    width: $heightS;
    height: $heightS;
    font-size: 30px;
    line-height: 32px;
  }
}