<div class="google-map-wrapper">
    <agm-map
            [zoom]="mapZoom"
            [latitude]="defaultLat"
            [longitude]="defaultLng"
            (mapClick)="onMarkerChanged($event)">

        <agm-marker
                [latitude]="marker.lat"
                [longitude]="marker.lng"
                [label]="marker.label"
                [markerDraggable]="marker.draggable"
                (dragEnd)="onMarkerChanged($event)">
        </agm-marker>

    </agm-map>
</div>

<div [formGroup]="form" [class]="field.lat.class ? field.lat.class : 'col-sm-6'">
    <div class="form-group form-element" [ngClass]="{'has-error': !isValidLat, 'has-success': isValidLat}">

        <!-- Label -->
        <label for="{{field.lat.key}}">
            {{field.lat.label}}
            <span *ngIf="field.validators && field.validators.required">*</span>
        </label>

        <!-- Input -->
        <input
                type="number"
                [attr.disabled]="field.disabled ? '' : null"
                formControlName="{{field.lat.key}}"
                class="form-control"
                id="{{field.lat.key}}"
                placeholder="{{field.lat.placeholder}}"
                value="{{marker.lat}}"
        >

        <!-- Others -->
        <span *ngIf="field.lat.description" class="help-block sub-little-text">{{field.lat.description}}</span>
    </div>
</div>

<div [formGroup]="form" [class]="field.lng.class ? field.lng.class : 'col-sm-6'">
    <div class="form-group form-element" [ngClass]="{'has-error': !isValidLng, 'has-success': isValidLng}">

        <!-- Label -->
        <label for="{{field.lng.key}}">
            {{field.lng.label}}
            <span *ngIf="field.validators && field.validators.required">*</span>
        </label>

        <!-- Input -->
        <input
                type="number"
                [attr.disabled]="field.disabled ? '' : null"
                formControlName="{{field.lng.key}}"
                class="form-control"
                id="{{field.lng.key}}"
                placeholder="{{field.lng.placeholder}}"
                value="{{marker.lng}}"
        >

        <!-- Others -->
        <span *ngIf="field.lng.description" class="help-block sub-little-text">{{field.lng.description}}</span>
    </div>
</div>