<div [formGroup]="form" class="col-sm-12">
    <div class="form-group form-element" [ngClass]="{'has-error': !isValidRange()}">

        <div [class]="field.startDate.class ? field.startDate.class : 'col-sm-6'" id="startDate">
            <div class="form-group">

                <!-- Label -->
                <label>
                    {{field.startDate.label}}
                    <span *ngIf="field.validators && field.validators.required">*</span>
                </label>
                <br>

                <!-- Input -->
                <input
                        ngui-datetime-picker
                        class="form-control date-picker"
                        id="{{field.startDate.key}}"
                        formControlName="{{field.startDate.key}}"
                        [date-only]="true"
                />

            </div>
        </div>

        <div [class]="field.endDate.class ? field.endDate.class : 'col-sm-6'" id="endDate">
            <div class="form-group">

                <!-- Label -->
                <label>
                    {{field.endDate.label}}
                    <span *ngIf="field.validators && field.validators.required">*</span>
                </label>
                <br>

                <!-- Input -->
                <input
                        ngui-datetime-picker
                        class="form-control date-picker"
                        id="{{field.endDate.key}}"
                        formControlName="{{field.endDate.key}}"
                        [date-only]="true"
                />
            </div>
        </div>

        <!-- Others -->
        <label *ngIf="!isValidRange()" class="text-danger">{{field.errorMessage}}</label>
        <span *ngIf="field.description" class="help-block sub-little-text"><br>{{field.description}}</span>
    </div>
</div>



