@import '../../../../theme/sass/conf/conf';

.form-element {
  min-height: 85px;
  padding: 8px;
  border: 1px solid $border-light;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  &.has-error {
    border-color: $danger !important;
  }
}

