<div [formGroup]="form" [class]="field.class ? field.class : 'col-sm-12'">

    <label>{{field.label}}</label>
    <span *ngIf="field.validators.required">*</span>

    <div class="form-group form-element ui-select-wrapper"
         [ngClass]="{'has-error': !isValid, 'has-success': isValid}">

        <span *ngIf="showClearButton()"
                class="ui-select-button"
                (click)="clearValue()">
            <i class="fa fa-close"></i>
        </span>

        <ng-select
                #ngSelect
                [multiple]="field.multiple"
                [items]="items"
                (data)="refreshValue($event)"
                placeholder="{{field.placeholder}}"
                [formControlName]="field.key">
        </ng-select>
    </div>

    <!-- Others -->
    <span *ngIf="field.description" class="help-block sub-little-text">{{field.description}}</span>
</div>