<div [formGroup]="form" [class]="field.class ? field.class : 'col-sm-12'">
    <label class="select-label">{{field.label}}</label>
    <span *ngIf="field.validators && field.validators.required">*</span>

    <div class="form-group form-element ui-select-wrapper"
         [ngClass]="{'has-error': !isValid, 'has-success': isValid}">

        <div class="ui-select-buttons" [ngClass]="{single: !field.multiple}">
            <span *ngIf="showSelectAllButton()"
                  class="select-all"
                  (click)="selectAllValues()">
                <span class="btn btn-xs btn-success">Select all</span>
            </span>
            <span *ngIf="showClearButton()"
                  class="clear-all"
                  (click)="clearValue()">
                 <i *ngIf="!field.multiple" class="fa fa-close"></i>
                <span *ngIf="field.multiple" class="btn btn-xs btn-danger">Clear all</span>
            </span>
        </div>


        <ng-select
                #ngSelect
                [multiple]="field.multiple ? field.multiple : false"
                [items]="selectValues"
                (data)="refreshValue($event)"
                placeholder="{{field.placeholder}}">
        </ng-select>
    </div>

    <!-- Others -->
    <span *ngIf="field.description" class="help-block sub-little-text">{{field.description}}</span>
</div>