ui-select {
  label.select-label {
    margin-top: 8px;
    margin-bottom: 0;
    color: #666666;
    font-size: 13px;
  }

  .ui-select-wrapper {
    position: relative;

    > div.ui-select-buttons {
      position: absolute;
      z-index: 1;
      top: 8px;
      right: 5px;

      > span {
        cursor: pointer;
        margin: 0 3px;
        &.clear-all {
          float: left;
          > i {
            font-size: 20px;
            color: #000000;
          }
          > span {
            font-size: 12px;
          }
        }
        &.select-all {
          float: right;
          > span {
            font-size: 12px;
          }
        }
      }
    }

    .btn:hover {
      transform: none;
    }

    span.ui-select-toggle{
      height: 35px;
      padding-top: 9px;
    }

    div.ui-select-multiple {
      min-height: 35px;
      padding: 5px 12px;
    }
  }
}
