.btn:hover {
  transform: none !important;
}

.select-label{
  margin-top: 8px !important;
  margin-bottom: 0 !important;
}

.ui-select-wrapper{
  position: relative;

  .ui-select-button{
    cursor: pointer;
    position: absolute;
    top: 7px;
    right: 35px;
    z-index: 1;
    font-size: 15px;
    color: black;
  }
}