<div [formGroup]="form" [class]="field.class ? field.class : 'col-sm-12'" style="margin-bottom: 15px;">
    <div class="form-group form-element">
        <!-- Label -->
        <label>
            {{field.label}}
            <span *ngIf="field.validators && field.validators.required">*</span>
        </label>
        <br>

        <div class="row vertical-align">
            <div class="col-sm-6">
                <div class="drag-drop-container"
                     ngFileDrop
                     (uploadOutput)="onUploadOutput($event)"
                     [uploadInput]="uploadInput"
                     [ngClass]="{ 'is-drag-over': dragOver }"
                >
                    {{ field.options?.labels?.dragDrop ? field.options.labels.dragDrop : 'Drag & Drop file(s) here'}}
                </div>
            </div>
            <div class="col-sm-6">
                <input #fileUpload
                       ngFileSelect
                       type="file"
                       (uploadOutput)="onUploadOutput($event)"
                       [uploadInput]="uploadInput"
                       [multiple]="field.options?.multiple"
                       hidden>

                <button
                        class="btn btn-primary btn-block"
                        type="button"
                        (click)="bringFileSelector()">
                    {{ field.options?.labels?.select ? field.options.labels.select : 'or select file(s)'}}
                    <i class="ion-search"></i>
                </button>
            </div>
        </div>
        <!-- Description -->
        <span *ngIf="field.description" class="help-block sub-little-text">{{field.description}}</span>
    </div>

    <div *ngIf="showProgress" class="progress-line"></div>

    <!-- Uploaded files -->
    <div *ngIf="uploadedFiles.length > 0"
         class="row vertical-align uploaded-files">
        <div class="col-sm-12 no-padding">
            <label>{{ field.options?.labels?.uploadedFiles ? field.options.labels.uploadedFiles : 'Uploaded files'}}:</label>
            <ul class="uploaded-files-list">
                <li *ngFor="let file of uploadedFiles">
                    <div class="uploaded-files-list-item">
                        <div class="list-item-wrapper">
                            <span (click)="cancelUpload(file)" class="delete-file">
                                <i class="fa fa-times-circle"></i>
                            </span>
                            <div [ngSwitch]="file.type">
                                <i *ngSwitchCase="'text/plain'" class="fa fa-file-text-o txt"></i>
                                <i *ngSwitchCase="'application/msword'" class="fa fa-file-text-o txt"></i>
                                <i *ngSwitchCase="'text/csv'" class="fa fa-file-code-o code"></i>
                                <i *ngSwitchCase="'application/pdf'" class="fa fa-file-pdf-o pdf"></i>
                                <img *ngSwitchCase="'image/jpeg'" src="{{ file.path }}"/>
                                <img *ngSwitchCase="'image/jpg'" src="{{ file.path }}"/>
                                <img *ngSwitchCase="'jpeg'" src="{{ file.path }}"/>
                                <img *ngSwitchCase="'jpg'" src="{{ file.path }}"/>
                                <img *ngSwitchCase="'image/png'" src="{{ file.path }}"/>
                                <img *ngSwitchCase="'png'" src="{{ file.path }}"/>
                                <i *ngSwitchCase="'application/zip'" class="fa fa-file-zip-o zip"></i>
                                <i *ngSwitchDefault class="fa fa-file-o default"></i>
                            </div>
                        </div>
                        <p>{{ file.name }}</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
