<div [formGroup]="form" [class]="field.class ? field.class : 'col-sm-12'">
    <div class="form-group form-element"
         [ngClass]="{'has-warning': uploadFileInProgress, 'has-success': uploadCompleted}">

        <!-- Label -->
        <label>
            {{field.label}}
            <span *ngIf="field.validators.required">*</span>
        </label>
        <br>

        <input
                #fileUpload
                ngFileSelect
                type="file"
                id="{{field.key}}"
                [options]="fileUploaderOptions"
                (change)="beforeFileUpload($event)"
                multiple
                hidden="true">

        <div class="input-group">
            <input #inputText
                   type="text"
                   class="form-control"
                   readonly>
            <span class="input-group-btn">
                <button
                        class="btn btn-primary"
                        type="button"
                        (click)="bringFileSelector()">
                    <i class="ion-search"></i>
                </button>
            </span>
        </div>
    </div>

    <!-- Others -->
    <span *ngIf="field.description" class="help-block sub-little-text">{{field.description}}</span>

    <!-- Progress -->
    <div class="row vertical-align">
        <div class="col-xs-2">
            <button *ngIf="files"
                    [disabled]="uploadFileInProgress || uploadCompleted"
                    class="btn btn-sm btn-primary btn-block"
                    type="button"
                    (click)="uploadQueue()">
                <i class="ion-upload"></i> <span class="hidden-sm-down">Upload</span>
            </button>
        </div>
        <div class="col-xs-10">
            <div *ngIf="uploadFileInProgress || uploadCompleted" class="progress">
                <div class="progress-bar progress-bar-primary"
                     role="progressbar"
                     [attr.aria-valuenow]="progressValue"
                     aria-valuemin="0" aria-valuemax="100"
                     [ngStyle]="{ 'width': progressValue + '%' }">
                    <span *ngIf="uploadFileInProgress">{{ progressValue }}%</span>
                    <span *ngIf="uploadCompleted">{{ progressValue }}% Completed!</span>
                </div>
            </div>
        </div>
    </div>

    <!-- Uploaded files -->
    <div *ngIf="uploadedFiles.length > 0" class="row vertical-align uploaded-files">
        <div class="col-sm-12">
            <label>Uploaded files:</label>
            <ul class="uploaded-files-list">
                <li *ngFor="let file of uploadedFiles">
                    {{ file.name }}
                </li>
            </ul>

        </div>
    </div>
</div>