@import '../../../../theme/sass/conf/conf';

.drag-drop-container {
  display: flex;
  height: 50px;
  border: 2px dashed $info-dark;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.is-drag-over {
  background-color: $info-light;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.uploaded-files {
  margin-left: 0;
  padding-left: 0;
  margin-top: 10px;
}

.uploaded-files-list {
  margin-bottom: 0;
  list-style: none;
  padding: 0;
  li {
    text-align: center;
    margin: 0 15px 0 15px;
    display: inline-block !important;
  }
}

.uploaded-files-list-item  {
  .list-item-wrapper {
    position: relative;
    img {
      max-width: 75px;
      max-height: 75px;
    }
    i {
      font-size: 50px;
      &.txt {
        color: $info;
      }
      &.pdf {
        color: $danger;
      }
      &.img {
        color: $warning;
      }
      &.zip  {
        color: purple;
      }
      &.code {
        color: greenyellow;
      }
      &.default {
        color: $bootstrap-panel-text;
      }
    }
    .delete-file {
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      i {
        color: black;
        font-size: 15px;
      }
    }
  }
  p {
    font-size: 12px;
    margin-bottom: 0;
  }
}

.progress-line {
  height: 10px;
  border-radius: 10px;
  width: 100%;
  margin: 0;
  background-color: $sidebar;
  display: -webkit-flex;
  display: flex;

  &:before {
    height: 10px;
    border-radius: 10px;
    width: 100%;
    margin: 0;
    background-color: $primary;
    content: '';
    -webkit-animation: running-progress 1s cubic-bezier(0.50, 0.50, 0.50, 0.50) infinite;
    animation: running-progress 1s cubic-bezier(0.50, 0.50, 0.50, 0.50) infinite;
  }
}

@-webkit-keyframes running-progress {
  0% {
    margin-left: 0;
    margin-right: 100%;
  }
  50% {
    margin-left: 25%;
    margin-right: 0;
  }
  100% {
    margin-left: 100%;
    margin-right: 0;
  }
}

@keyframes running-progress {
  0% {
    margin-left: 0;
    margin-right: 100%;
  }
  50% {
    margin-left: 25%;
    margin-right: 0;
  }
  100% {
    margin-left: 100%;
    margin-right: 0;
  }
}
