<div>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">

        <div class="row">
            <div *ngFor="let field of fields">

                <div [ngSwitch]="field.type">

                    <input-text
                            *ngSwitchCase="formConfig.types.TEXT"
                            [form]="form"
                            [field]="field">
                    </input-text>

                    <input-email
                            *ngSwitchCase="formConfig.types.EMAIL"
                            [form]="form"
                            [field]="field">
                    </input-email>

                    <input-number
                            *ngSwitchCase="formConfig.types.NUMBER"
                            [form]="form"
                            [field]="field">
                    </input-number>

                    <input-password
                            *ngSwitchCase="formConfig.types.PASSWORD"
                            [form]="form"
                            [field]="field">
                    </input-password>

                   <checkbox
                            *ngSwitchCase="formConfig.types.CHECKBOX"
                            [form]="form"
                            [field]="field">
                    </checkbox>

                    <ui-select
                            *ngSwitchCase="formConfig.types.SELECT"
                            [form]="form"
                            [field]="field">
                    </ui-select>

                    <date-picker
                            *ngSwitchCase="formConfig.types.DATE"
                            [form]="form"
                            [field]="field">
                    </date-picker>

                    <date-range-picker
                            *ngSwitchCase="formConfig.types.DATE_RANGE"
                            [form]="form"
                            [field]="field">
                    </date-range-picker>

                </div>

            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary btn-raised" [disabled]="!isFormValid">Save</button>
            </div>
        </div>

    </form>

    <div class="row">
        <strong>Form valid:</strong><br>{{isFormValid}}
    </div>

    <div *ngIf="payLoad" class="row">
        <strong>Form Values:</strong><br>{{payLoad}}
    </div>
</div>