@import '../../../theme/sass/conf/conf';

.ng2, .blur {
  .doughnut-chart .canvas-holder {
    border: 15px solid rgba(0, 0, 0, 0.2);
    border-radius: 150px;
  }
}

.doughnut-chart {
  width: 300px;
  position: relative;
  min-height: 300px;
  float: left;
}

.doughnut-legend {
  display: inline-block;
  padding: 70px 0 0 0;
  width: 160px;
}

.canvas-holder {
  display: inline-block;
  width: 275px;
  height: 275px;
  position: relative;
  float: left;
}

.doughnut-text {
  width: 100%;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -24px;
  line-height: 24px;
  text-align: center;
  font-size: 18px;
  //color: $danger;
  span {
    display: block;
    font-size: 18px;
    color: $content-text;
  }
}

.list-info {
  list-style: none;
  padding-left: 0;

  li {
    padding: 5px 0 0 0;
    font-size: 15px;
    .item-color{
      width: 15px;
      height: 15px;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
      position: relative;
      border-radius: 15px;
    }
  }
}

.chart-area {
  height: 275px;
  width: 275px;
}

.doughnut-chart {
  position: inherit;
  float: none;
  margin: 0 auto;
}
