@import '../../../../theme/sass/conf/conf';

.btn-primary {
  background-color: $primary !important;
}

.event-actions {
  .btn-sm {
    margin: 5px;
  }
}

.cal-cell-top  {
  input[type="checkbox"] {
    margin: 5px 0 0 5px;
  }
}

.cal-event {
  width: 20px;
  height: 20px;
  text-align: center;
  padding-top: 2px;
  i {
    font-size: 14px;
  }
}

.edit-events {
  width: 15px;
  height: 15px;
  padding: 0;
  position: absolute;
  bottom: 2px;
  right: 0;
  background-color: #b7b7b7;

  &:hover {
    background-color: #878787;
  }
}