@import '../../../../theme/sass/conf/conf';

divider {
  > div {
    margin-top: 30px;
    color: $default-text;
    > h3 {
      > i {
        margin-right: 5px;
      }
      text-transform: uppercase;
    }
    > p {
      font-size: 15px;
    }
  }
}