<aside class="al-sidebar" (mouseleave)="hoverElemTop=outOfArea" sidebarResize>
    <div class="main-navigation" [hidden]="sidebarCollapsed">
        <span [hidden]="sidebarCollapsed">Menu</span>
    </div>
    <ul id="al-sidebar-list" class="al-sidebar-list" baSlimScroll [baSlimScrollOptions]="{height: menuHeight}">
        <menu-item
                [menuItem]="item"
                (itemHover)="hoverItem($event)"
                (toggleSubMenu)="toggleSubMenu($event)"
                *ngFor="let item of menuItems"></menu-item>
    </ul>
    <div class="sidebar-hover-elem" [ngStyle]="{top: hoverElemTop + 'px', height: hoverElemHeight + 'px'}"
         [ngClass]="{'show-hover-elem': showHoverElem }"></div>
</aside>
