@import '../../sass/conf/conf';

.main-navigation{
  background: #101920;
  color: $primary;
  padding: 8px;
  text-align: center;
  font-weight: $font-bold;
  text-transform: uppercase;
}

#al-sidebar-list{
  padding-top: 0 !important;
}