<div [formGroup]="form" [class]="field.class ? field.class : 'col-sm-12'">
    <div class="form-group" [class]="isValid ? 'has-success' : 'has-error'">

        <!-- Label -->
        <label for="{{field.key}}">
            {{field.label}}
            <span *ngIf="field.validators.required">*</span>
        </label>

        <!-- Input -->
        <input
                type="text"
                formControlName="{{field.key}}"
                class="form-control"
                id="{{field.key}}"
                placeholder="{{field.placeholder}}"
                value="{{field.value}}"
        >

        <!-- Others -->
        <span *ngIf="field.description" class="help-block sub-little-text">{{field.description}}</span>
    </div>
</div>