@import "../../../theme/sass/conf/conf";

.simple-stats {
  color: $content-text;

  .simple-stats-item-container {
    position: relative;
    padding: 0 15px;
    float: left;
    box-sizing: border-box;

    .card {
      height: 114px;
    }
  }

  @media screen and (min-width: 1325px) {
    .simple-stats-item-container {
      width: 25%;
      flex: 0 0 25%
    }
  }
  @media screen and (min-width: 700px) and (max-width: 1325px)  {
    .simple-stats-item-container {
      width: 50%;
      flex: 0 0 50%
    }
  }
  @media screen and (max-width: 700px)  {
    .simple-stats-item-container {
      width: 100%;
      flex: 0 0 100%
    }
  }

  .simple-stats-item {
    position: relative;
    .simple-stats-icon {
      font-size: 65px;
      position: absolute;
      right: 0;
      margin: 10px 0 10px 0;
      color: $primary;
    }
  }
  @media screen and
  (min-width: 1325px) and (max-width: 1650px),
  (min-width: 700px) and (max-width: 830px),
  (max-width: 400px) {
    .simple-stats-icon {
      display: none;
    }
  }

  .description {
    display: inline-block;
    padding: 20px 0 0 20px;
    font-size: 16px;
    opacity: 0.9;
    .description-title {
      font-weight: $font-bold;
      text-transform: uppercase;
    }
    .description-stats {
      padding-top: 8px;
      font-size: 24px;
    }
  }
}
