<div class="row" *ngIf="showDashboard">
    <div *ngFor="let component of components">
        <div [ngSwitch]="component.type">
            <simple-stats
                    *ngSwitchCase="dashboardConfig.types.SIMPLE_STATS"
                    [config]="component.config"
            ></simple-stats>

            <doughnut-chart
                    *ngSwitchCase="dashboardConfig.types.DOUGHNUT_CHART"
                    [config]="component.config"
            ></doughnut-chart>

        </div>
    </div>
</div>
